<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.roy.bkapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".BkApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/BkNightTheme">

        <meta-data
            android:name="sms_app_key"
            android:value="f48c49b***" />
        <meta-data
            android:name="sms_app_secret"
            android:value="d953d34d33e672460174961e6368***" />

        <meta-data
            android:name="com.roy.bkapp.utils.GlideModuleSetting"
            android:value="GlideModule" />

        <activity
            android:name=".ui.activity.MainActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/BkMainNightTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.movie.MovieDetailActivity"
            android:screenOrientation="sensorPortrait" />

        <activity
            android:name=".ui.activity.user.LoginRegisterActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".ui.activity.user.UserCenterActivity"
            android:screenOrientation="sensorPortrait" />

        <activity
            android:name=".ui.activity.movie.MovieCollectionActivity"
            android:screenOrientation="sensorPortrait" />

        <activity
            android:name=".ui.activity.common.WebViewActivity"
            android:screenOrientation="sensorPortrait" />

        <activity
            android:name=".ui.activity.movie.MovieCommentActivity"
            android:screenOrientation="sensorPortrait" />

        <activity
            android:name=".ui.activity.movie.MovieRatingActivity"
            android:screenOrientation="sensorPortrait" />

    </application>

</manifest>